.loading-container{
    display: flex;
    justify-content: center;
    position: fixed;
    min-width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
}

.loading-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.loading-text-container-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

.loading-text{
    color: white;
    font-weight: bold;
    font-size: 10vw;
    z-index: 999;
}

@keyframes pulse {
    0% {
        border-width: 0;
        box-shadow: 0 0 0 white;
    }

    50% {
        border-width: 3vw;
        box-shadow: 0 0 3vw white;
    }

    100% {
        border-width: 0;
        box-shadow: 0 0 0 white;
    }
}
