
.meal-plan-recommendation-list-empty-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
}

.meal-plan-recommendation-empty-icon{
    fill: white;
}

.meal-plan-recommendation-list-main-container{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 3vh 0;
    height: 100%;

}

.meal-plan-recommendation-list-title{
    font-size: 2vw;
    color: white;
    text-align: center;
    font-weight: bold;
}

.meal-plan-recommendation-list-cards-contianer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.meal-plan-recommendation-ingredients-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    align-items: center;

}

.meal-plan-recommendation-ingredients{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
    padding: 1vh 1.5vw;
}
