
.recipe-no-results-main-container{
    display: flex;
    width: 80%;
    height: 80%;
    background-color: rgb(237, 237, 237);
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.recipe-no-results-main-container p{
    font-size: 3vw;
    color: rgb(156, 156, 156);
    font-weight: bold;
}

.recipe-results-main-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background-color: rgb(237, 237, 237);
    align-items: center;
    border-radius: 1rem;
}

.recipe-results-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.recipe-results-title-container p{
    font-size: 2vw;
    font-weight: bold;
}

.recipe-results-info-container{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.recipe-results-top-info-container{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.recipe-results-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 1vh 1vw;
}

.recipe-results-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.recipe-results-details-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    gap: 2vh;
}

.recipe-results-title-food{
    font-size: 2vw;
    font-weight: bold;
}

.recipe-results-info-display{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.recipe-results-info-display p{
    font-size: 1.13vw;
}

.recipe-results-info-subtitle{
    font-weight: bold;
}

.recipe-results-lists{
    display: flex;
    font-size: 1.13vw;
    gap: 1vw;
}

.list-label-container{
    -moz-column-gap: 0.5vw;
    -webkit-column-gap: 0.5vw;
    column-gap: 0.5vw;
}

.recipe-results-macros-container{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.recipe-results-other-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 0 4vw;
    height: 10%;
    width: 100%;
}

.recipe-results-buttons{
    color: white;
    font-weight: bold;
    padding: 1vh 1vw;
    background-color: black;
    height: 60%;
    border-radius: 1rem;
}
