
.recipe-recommendation-main-container{
    display: flex;
    flex-direction: row;
    min-height: 92.5vh;
}

.recipe-recommendation-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92.5vh;
    width: 50vw;
    background-color: var(--primary-color);
    border-radius: 0 5vw 5vw 0;
}

.recipe-recommendation-result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92.5vh;
    width: 50vw;
}
