

.register-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(190, 190, 190);
}

.register-form-container{
    background-color: white;
    height: 80vh;
    width: 30vw;
    padding:3rem 3vw;
    display: flex;
    flex-direction: column;
}

.register-text {
    display: flex;
    gap: 1rem;
}

.register-title{
    font-size: 2rem;
    font-weight: bold;
}

.register-form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    margin-top: 1rem;
}

.register-button{
    color: white;
    background-color: var(--accent);
    padding: 0.5rem 4rem;
    border-radius: 2rem;
}

.register-name-last-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.register-confirm-password-error{
    position: absolute;
    color: rgb(242, 87, 87);
    font-size: 0.75rem;
}
